@tailwind base;
@tailwind components;
@tailwind utilities;

.protecting {
    background: url("../public/dashgb.jpg");
    background-position: center;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* MegaMenu.css */
.menu-item:hover .sub-menu {
    display: block;
  }
  .sub-menu {
    display: none;
    position: absolute;
    /* Add styling for sub-menu position, background color, etc. */
  }
